@model Kutse_App_Vsevolod.Models.Guest

@{
    ViewBag.Title = "Thanks";
}

<div>
    <p>Tänan sind, @Model.Name</p>
</div>

<div>
    @if (Model.WillAttend == true)
    {
        <p>Ootame sind kallis sõber!</p>
        <p>
            <img src="~/Images/super.jpg" />
        </p>
        <!-- Button for sending reminder -->
        using (Html.BeginForm("SendReminder", "Home", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.Name)
            @Html.HiddenFor(x => x.Email)
            @Html.HiddenFor(x => x.WillAttend)

            <input type="submit" value="Meeldetuletus" class="btn btn-warning" />
        }
    }
    else
    {
        <p>Väga kurb uudis. Näeme hiljem!</p>
        <p>
            <img src="~/Images/net.jpg" />
        </p>
    }

    @ViewBag.Message
</div>
